body {
  background-color: white;
}

h1 {
  margin: 10% auto 0 auto;
  width: 70%;
  font-size: 3em;
}

pre {
  color: black;
  font-size: 2em;
  max-width: 70%;
  padding: 2% 5%;
  margin: 0 auto;
}
