header
  a(href='/')
    h3 XUERUI #[span.zh 學銳]
  input.search(type='text', name='search', placeholder='Search for a student, course, or teacher')
  nav
    a(href='/settings')
      img(src='/static/assets/images/user.svg')
    a(href='/logout')
      img(src='/static/assets/images/power.svg')
