// Created by Rudd Fawcett '18.
doctype html5
html(lang='en')
  block vars
  head
    title 學銳 | #{path}
    block styles
    link(rel='stylesheet', href='/static/assets/styles/main.css')
    link(rel='canonical', href='https://paschedul.es')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    div.wrapper
      block head
      include header.pug
      main
        block content
    //- include footer.pug
    include analytics.pug
    
    script(type='text/javascript', src='//unpkg.com/socket.io-client@1.7.3/dist/socket.io.js')
    script(type='text/javascript', src='//unpkg.com/@feathersjs/client@^3.0.0/dist/feathers.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js')
    block scripts
