doctype html5
html(lang='en')
  head
    title 锐 | #{code} Error
    style(type='text/css').
      * {
        padding: 0;
        margin: 0;
        
      }

      html, body {
        width: 100%;
        height: 100%;
      }

      body {
        font-family: system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Lucida Grande', sans-serif;
        background-color: white;
        color: black;
        display: table;
      }
      
      .error {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }

      h1 {
        font-size: 32px;
        letter-spacing: 1px;
      }
  body
    div.error
      h1 #{code}
      p #{message}
